
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
            <meta name="viewport" content= "width=deivce-width, initial-scale=1.0"/>
            <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
            <title>document</title>
    </head>
    <body>
        <form action="dilo/proses" method="post" enctype="multipart/form-data">
            <input type="text" name="nama" placeholder="Masukan Nama anda"/>
            <input type="text" name="hobi" placeholder="Masukan Hobi anda"/>
            <input type="file" name="gambar" />
            <button type="submit">Kirim</button>
        </form>
    </body>
</html>